<ion-header>
  <ion-toolbar>
    <ion-title>Reporte Diario</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button text="Atras"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-button (click)="atras()" expand="block" fill="clear" shape="round">
        Regresar a las tareas
      </ion-button> 

      <ion-select  interface="popover" placeholder="--Seleccione--" id="cmbTarea" [(ngModel)]="cmbMaquina">
        <ion-select-option *ngFor="let c of item" detail
                  [value]="c.value" >
          {{ c.nombre }}
        </ion-select-option>
      </ion-select>

      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true" #modalTime >
        <ng-template>
          <ion-datetime presentation="date" id="datetime" (ionChange)="changedReport(); modalTime.dismiss();" on="true" ></ion-datetime>
        </ng-template>
      </ion-modal>
      
    </ion-card-content>
  </ion-card>


  <div class="cd-schedule loading">
    <div class="timeline">
      <ul>
        <li><span>08:00</span></li>
        <li><span>08:30</span></li>
        <li><span>09:00</span></li>
        <li><span>09:30</span></li>
        <li><span>10:00</span></li>
        <li><span>10:30</span></li>
        <li><span>11:00</span></li>
        <li><span>11:30</span></li>
        <li><span>12:00</span></li>
        <li><span>12:30</span></li>
        <li><span>13:00</span></li>
        <li><span>13:30</span></li>
        <li><span>14:00</span></li>
        <li><span>14:30</span></li>
        <li><span>15:00</span></li>
        <li (click)="addDataReport()"><span>15:30</span></li>
        <li><span>16:00</span></li>
        <li><span>16:30</span></li>
        <li><span>17:00</span></li>
        <li><span>17:30</span></li>
        <li><span>18:00</span></li>
      </ul>
    </div> <!-- .timeline -->
  
    <div class="events" id="divEventos">
      
    </div>
  
    <div class="event-modal">
      <header class="header">
        <div class="content">
          <span class="event-date"></span>
          <h3 class="event-name"></h3>
        </div>
  
        <div class="header-bg"></div>
      </header>
  
      <div class="body">
        <div class="event-info"></div>
        <div class="body-bg"></div>
      </div>
  
      <a href="#0" class="close">Close</a>
    </div>
  
    <div class="cover-layer"></div>
  </div> <!-- .cd-schedule -->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
  <script src='../../../assets/scripts/reportCalendar.js'></script>

</ion-content>
