[datetime="datetime"]>button:nth-child(2){
display: none !important;
}

.codyhouse {
    text-align: center;
    margin: 40px 0;
  }
  /* reset css */
  /* https://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
.cd-schedule{
   background: #fff;
   color: #000;
   border-radius: 10px;
}

.cd-schedule ul {
   background: #fff;
   padding: 20px;
   border-radius: 10px;
}