<app-header titulo="recuperar contraseña"></app-header>

<ion-content color="tertiary">
  <form [formGroup]="formRecuperacion">
    <ion-card>    
      <ion-card-content>      
        <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input formControlName="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="enviarCodigo()">Enviar Código</ion-button>
          <input type="hidden" id="hdCodigo" >
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="flagCodigo===true">
      <ion-card-content>      
        <ion-item>
            <ion-label position="floating">Código</ion-label>
            <ion-input formControlName="codigo" [(ngModel)]="codigo" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="passNew" type="password" [(ngModel)]="pass1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar password</ion-label>
          <ion-input formControlName="passNewCopy" type="password" [(ngModel)]="pass2"></ion-input>
        </ion-item>        
        <ion-item>
          <ion-button (click)="actualizarPass()">Cambiar Contraseña</ion-button>
        </ion-item>      
      </ion-card-content>
    </ion-card>

  </form>
</ion-content>

