.mitad {
    width: 48%;
  }

.card-tiempo{
  padding:22px;
}

.select-ttiempo{
  background: #80808038;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 14px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.center-txt-lbl{
  text-align: center;
  display: block;
}