<app-infouser></app-infouser>


<ion-content color="tertiary">
  <form>
    
    <ion-card class="card-box">
      <ion-card-content>      
        <ion-label>Planificacion de Trabajo</ion-label>
        <ion-item>
          <ion-select class="select-ttiempo" interface="popover" placeholder="--Seleccione--" id="cmbPlanificacionTrabajo">
            <ion-select-option *ngFor="let c of planTrabajo" 
                                [value]="c._id">{{ c.descripcion }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label>Contrato</ion-label>
        <ion-item>
          <ion-select class="select-ttiempo" interface="popover" placeholder="--Seleccione--" id="cmbContrato">
            <ion-select-option *ngFor="let c of contrats" 
                                [value]="c.uid">{{ c.descripcion }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label>Maquinaria</ion-label>
        <ion-item>
          <ion-select class="select-ttiempo" interface="popover" placeholder="--Seleccione--" id="cmbMaquina">
            <ion-select-option *ngFor="let c of machine" 
                                [value]="c._id">{{ c.descripcion }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label>Tarea de la maquinaria</ion-label>
        <ion-item>
          <ion-input type="text" id="txtTareaMaquinaria" placeholder="Nombre de tarea"></ion-input>
        </ion-item>
        <ion-label>Fecha Desde</ion-label>
        <ion-item>
          <ion-datetime-button datetime="datetime1"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" #modalTime1 >
              <ng-template>
                <ion-datetime presentation="date" id="datetime1" (ionChange)="modalTime1.dismiss();" on="true"></ion-datetime>
              </ng-template>
            </ion-modal>
        </ion-item>
        <ion-label>Fecha Hasta</ion-label>
        <ion-item>
          <ion-datetime-button datetime="datetime2"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true" #modalTime2 >
              <ng-template>
                <ion-datetime presentation="date" id="datetime2" (ionChange)="modalTime2.dismiss();" on="true"></ion-datetime>
              </ng-template>
            </ion-modal>
        </ion-item>
        <ion-label>Turno</ion-label>
        <ion-item>
          <ion-select class="select-ttiempo" interface="popover" placeholder="--Seleccione--" id="cmbTurno">
            <ion-select-option value="A.M">A.M</ion-select-option>
            <ion-select-option value="P.M">P.M</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label>Tiempo SLA</ion-label>
        <ion-item>
          <ion-input type="text" id="txtHoras" placeholder="Tiempo SLA: 1 a 24"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-button color="success" expand="full" (click)="abrirMaquinaTrabajo()">Agregar a lista de Trabajo</ion-button>
    </ion-card>
  </form>
</ion-content>
